<md-card class="md-padding">
    <div layout="column" layout-gt-xs="row">
        <md-input-container flex="50">
            <label>Filter by</label>
            <md-select ng-model="projectFilter.funding_type">
                <md-option ng-value="type.id" ng-repeat="type in fundingTypes">{{type.name}}</md-option>
            </md-select>
        </md-input-container>
        
        <md-input-container flex="50">
            <label>Sort by</label>
            <md-select ng-model="projectSort">
                <md-option ng-value="'raised'">Amount raised</md-option>
                <md-option ng-value="'end_time'">End time</md-option>
            </md-select>
        </md-input-container>
    </div>
    
    <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="projectFilter.finished" ng-true-value="'Finished in'" ng-false-value="'Finished'">
        Hide finished
    </md-switch>
</md-card>

<md-content>
    <md-list>
        <project-summary ng-repeat="project in blockchain | filter:projectFilter | orderBy:projectSort:true" project="project"></project-summary>
    </md-list>
</md-content>