.page-wrap {
    max-width: 1500px;
    margin: 0 auto;
}

.content {
    max-width: $contentMaxWidth;
    margin: 50px auto 150px auto;
    padding: 0 50px 0 50px;
}

md-list-item.project-item {
    padding: 13px 0;
    
    md-progress-linear {
        width: 90%;
    }
    
    .project-item-raised {
        margin: auto;
    }
}