@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.visuallyhidden {
    border: 0;
    clip-path: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}