<md-list-item class="md-3-line project-item" layout="row">
    <div class="md-list-item-text" layout-padding flex="75">
        <h3>{{project.title}}</h3>
        <p class="project-item-subtitle">{{project.subtitle}}</p>
        <h4>Progress:</h4>
        <span class="visuallyhidden">{{project.goalPercent}}%</span>
        <md-progress-linear md-mode="determinate" value="{{project.goalPercent}}"></md-progress-linear>
        <p>{{project.finished}}</p>
    </div>
    <md-icon md-svg-src="assets/images/{{ getFundingTypeIcon(project.funding_type) }}.svg" aria-label="Funding type: {{ getFundingTypeIcon(project.funding_type) }}" flex="5" flex-order="-1"></md-icon>
    <div class="project-item-raised" flex="20">
        <p>{{project.currency ? (project.raised | isoCurrency:project.currency) : "?" + (project.raised | number)}} raised</p>
    </div>
</md-list-item>
<md-divider></md-divider>